In [1]:
import os
import pandas as pd
import numpy as np
path = os.getcwd()

'c:\\Users\\Go\\OneDrive - UOS\\allrepos\\data_merge_geo_service'

In [9]:
em_meta = pd.read_csv(os.path.join(path,'data', 'em_meta.csv'), encoding='euc-kr')
em_df = pd.read_csv(os.path.join(path,'data', 'em.csv'), encoding='euc-kr')

In [10]:
em_meta

     Unnamed: 0 code         x        y
0             0   속초  128.5647  38.2509
1             1  북춘천  127.7544  37.9474
2             2   철원  127.3042  38.1479
3             3  동두천  127.0607  37.9019
4             4   파주  126.7665  37.8859
..          ...  ...       ...      ...
126         126  청송군  129.0401  36.4351
127         127  청송군  129.0401  36.4351
128         128   영덕  129.4093  36.5334
129         129   의성  128.6886  36.3561
130         130   구미  128.3206  36.1306

[131 rows x 4 columns]